.footer {
  height: 60px;
  line-height: 60px;
  background-color: #f8f9fa;
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;

}

.logo {
  width: 40px;
  margin: 10px;
}

.d-flex {
  width: 100vw;
  height: 90vh;
  padding-bottom: 40px;

}

.text-about {
  max-width: 50%;
  text-align: justify;
}

h3 {
  font-size: 50px;
  margin: 30px;
  }

img {
    width: 25%;
    height: auto;
}

.jumbotron {
  background-color: inherit;
  overflow: hidden;

}

.sexy_line{
    display: flex;
    border-style: solid;
    border-width: thin;
    color: lightgray;
    height: 300px;
    width: 1px;
    margin-left: 20px;
}

.card-deck {
  display: flex;
  flex-direction: column;
}

a.card {
  width: 100px;
  height: 100px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 10px;
}

a {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

a.card:hover {
    box-shadow: inset 0 0 10px 2px gray;
}

#card-about:hover {
  background-image: linear-gradient(#8dbc5a, #ceffe2);
}

#card-designs:hover {
  background-image: linear-gradient(#8dbc5a, #ceffe2);
}

#card-projects:hover {
  background-image: linear-gradient(#8dbc5a, #ceffe2);
}

#card-other:hover {
  background-image: linear-gradient(#8dbc5a, #ceffe2);
}

/* Designs */
.carousel-inner {
  position: relative;
  height: 50vh;
  width: auto;
}

/* Projects */
#cards-projects {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 80px;
}
