.footer {
  height: 60px;
  line-height: 60px;
  background-color: #f8f9fa;
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}


#quote {
  text-align: center;
  font-style: italic;
}

.d-flex {
  width: 100vw;
  height: 90vh;
}



h3 {
  font-size: 110px;
  margin: 30px;
  }

img {
    width: 25%;
    height: auto;
}

.jumbotron {
  width: auto;
  background-color: inherit;
  overflow: hidden;
}

a.card {
  width: 200px;
  height: auto;
  position: relative;
  align-items: center;
}

a {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

a.card:hover {
    box-shadow: inset 0 0 10px 2px gray;
}

#card-about:hover {
  background-image: linear-gradient(#eaffba, #ceffe2);
}

#card-designs:hover {
  background-image: linear-gradient(#81caf4, #bc7fdb);
}

#card-projects:hover {
  background-image: linear-gradient(#fc7753, #ffe77f);
}

#card-other:hover {
  background-image: linear-gradient(#60ffd7, #ff84ee);
}
