html {
  background-color: black;
}

body {
  background-color: black !important;

}

h2 {
  font-family: monospace;
}

a {
  margin: 10px 10px 10px 10px;
}

ul {
  list-style: none;
  padding: 0px;
}

.container {
text-align: center;
margin-top: 40px;
background-color: black;
}

.btn {
  font-family: "VT323", monospace;
}

#parent {
  width: 100vw;
  height: 90vh;
}

#content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#HUD {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "VT323", monospace;
  color: gray;
  flex-direction: column;
  text-align: right;
}

#clock {
  right: 0;
}

#text-box {
  color: white;
  font-family: "VT323", monospace;
  font-size: 20px;
}


#game-title {
  margin-top: 30px;
  color: white;
  font-family: "Contrail One", cursive;
  font-size: 50px;
}
